{% extends "layout.html" %}

{% set active_page = 'home' %}

{% block saturs %}

<div class="box">Los Santos Customs ir firma, kuru dibināja Karls Džonsons, viņs to dibināja 1991. gadā, kas īsti nebija sekmīgs sākums, uzņēmums iegāja lielos parādos,  un beigās firma tika pārdota Jurim Oškavonam, kas 2000. gadā firmu pārdēvēja no Los Santos Cars uz Los Santos Customs, firma ieguva ļoti lielu popularitāti ar pieejamajām mašīnām. Šobrīd firma darbojas ļoti labi, un ar lielu sparu, var teikt, ka ir populārākā firma visā Los Santos!</div>
<div class="box2">
    <li>
  Juridiskā adrese: Vinewood, Eagle St. 17<br>
  Tel. nr: 696969
</li>
<li>
  Firmas īpašnieks: Juris Oškanovs<br>
  E-pasts: j.oskanov@lscustoms.com
</li>
<li>
  Firmas līdzīpašnieks: Michael Shockin<br>
  E-pasts: m.shockins@lscustoms.com
</li>
<li>
  Firmas administrators: Amy Sky’L<br>
  E-pasts: a.skyl@lscustoms.com
</li>
<li>
  Firmas konsultants: Edward Damn<br>
  E-pasts: e.dumb@lscustoms.com
</li>
  </div>
<div class="box3">No Los Santos Customs Jūs varat sagaidīt labu administrācijas atsauksmi, momentālu transportlīdzekļu rezervāciju, iespēju ONLINE pieteikt transportlīdzekļa rezervāciju, iespēju redzēt pieejamos transportlīdzekļus un lētas cenas tiem!</div>

{% endblock %}