{% extends "layout.html" %}

{% set active_page = 'register' %}

{% block saturs %}

      <div class="login">
          <img src="https://cdn.discordapp.com/attachments/765292327114899457/780517346170503208/preview-escudols_1_1_1.png" alt="login-logo">
          <button id="sendRegistration" class="registreties">Reģistrēties</button>
          <input type="text" id="vards" name="vards" class="vards" placeholder="Ievadi savu vārdu"><br><br>
          <input type="text" id="uzvards" name="uzvards" class="uzvards" placeholder="Ievadi savu uzvārdu"><br><br>
          <input type="password" id="pkods" name="pkods" class="pkods" placeholder="Ievadi savu personas kodu"><br><br>
          <input type="text" id="telnr" name="telnr" class="telnr" placeholder="Ievadi savu telefona nummuru"><br><br>
          <input type="email" id="email" name="email" class="email" placeholder="Ievadi e-pastu"><br><br>
          <input type="password" id="password" name="password" class="password" placeholder="Ievadi paroli"><br><br>
      </div>
      <script type="text/javascript" src="{{ url_for('static', filename='js/registration.js') }}"></script>

{% endblock %}